<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../public/css/password.css">

    <style> 
        .email-input {
            display: flex;
            align-items: center;
        }
        
        .email-input label {
            font-size: 18px;
            margin-right: 10px;
        }
        
        .email-input input[type="email"] {
            font-size: 18px;
            padding: 10px;
            width: 300px;
        }
        .reset-box {
            margin-top: 300px; /* Adjust the margin-top value as needed */
        }
            </style>

</head>
<body>
    <nav>
        <div class="logo-container">
            <img class="logo" src="../public/images/logo.png" alt="Logo">
        </div>
        <!-- Add other navigation items here if needed -->
    </nav>
    <div class="reset-box">
        <h1>Forgot Password</h1>
    <form action="/forgot-password" method="POST" id="forgotPasswordForm">
    <div class="email-input">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Submit</button>
</form>
    </div>

<script src="../src/script.js"></script>
   
</body>
</html>
