<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../public/css/password.css">
</head>
<body>
    <div class="reset-box">
        <h1>Reset Password</h1>
        <form action="/reset-password" method="POST" id="resetPasswordForm" onsubmit="return validateForm()">
            <label for="password">Enter your new password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button class="eye-iconLogin" id="togglePassword" type="button"><i class="fas fa-eye"></i></button>
            <input type="hidden" id="token" name="token">
            <label for="confirmPassword">Confirm your new password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
            <button class="eye-iconLogin" id="togglePassword" type="button"><i class="fas fa-eye"></i></button>
            <button type="submit">Reset Password</button>
        </form>
    </div>
    <script>
        // Extract token from URL query parameters and populate token input field
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');
        document.getElementById('token').value = token;

        function validateForm() {
            const password = document.getElementsByName('password')[0].value;
            const confirmPassword = document.getElementsByName('confirmPassword')[0].value;

            if (password.length < 8) {
                alert("Password must be at least 8 characters long");
                return false;
            }

            if (password !== confirmPassword) {
                alert("Passwords do not match");
                return false;
            }

            return true;
        }

    </script>



<script src="../src/script.js"></script>
    
</body>
</html>
