
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/dmo.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}
nav {
    background-color: rgba(0, 0, 0, 0.2); /* Transparent background with a touch of darkness */
    padding: 8px 20px; /* Adjusted padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Span the entire width of the viewport */
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top */
    z-index: 999; /* Ensure it's above other content */
}
.logo-container {
    background-color: white; /* Light blue background */
    padding: 5px;
    border-radius: 50%; /* Rounded corners */
}
.logo {
    width: 80px; /* Adjust as needed */
}
.reset-box {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px; /* Adjust as needed */
    margin: auto; /* Center horizontally */
    width: 90%; /* Adjust as needed */
    max-height: 80vh; /* Adjust as needed */
    overflow-y: auto; /* Add scrollbar if content exceeds height */
    margin-top: 150px; /* Add space between navbar and reset box */
    position: relative; /* Relative position */
}
h1 {
    margin-top: 0;
}
label, input, button {
    display: block;
    margin-bottom: 15px; /* Increased margin */
}
input[type="password"], input[type="submit"] {
    width: calc(100% - 20px); /* Adjust for padding */
    padding: 12px; /* Adjusted padding */
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Adjusted font size */
}
input[type="password"]:focus, input[type="submit"]:focus {
    outline: none;
}
button.eye-iconLogin {
    position: relative;
    top: -35px;
    left: -5px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
}
button[type="submit"] {
    background-color: orange; /* Orange background */
    color: white;
    padding: 14px 20px;
    margin: 8px auto; /* Center the button horizontally */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    display: block; /* Ensure the button takes up the full width */
}

button[type="submit"]:hover {
    background-color: #d45d00; /* Darker orange */
}
